/exercise2/nbproject/private/
/exercise2/build/
/palindromeCheck/nbproject/private/
/palindromeCheck/build/
/factorialFun/nbproject/private/
/factorialFun/build/
/standardDeviation/nbproject/private/
/standardDeviation/build/
/fibonacci/nbproject/private/
/fibonacci/build/
/AnagramGame/nbproject/private/
/AnagramGame/build/
*.class
/nbproject/
/build/
/build.xml
/manifest.xml
*.jar
