/exercise2/nbproject/private/
/exercise2/build/
/palindromeCheck/nbproject/private/
/palindromeCheck/build/
/factorialFun/nbproject/private/
/factorialFun/build/
/standardDeviation/nbproject/private/
/standardDeviation/build/